<%
  const conf = {
    category: 'work',
    title : 'Our Work 03｜【Filemaker開発】株式会社Freeandopen',
    description : '株式会社Freeandopenが開発に携わった事例を紹介します。',
    style: 'work.css',
    script: 'work.js',
    assets: {
      commonImage: '/common/image',
      image: '/work/work3/image'
    }
  };
%>
<%- include('../common/_head.ejs', { conf }) %>
<%- include('../../components/header/header.ejs', { conf }) %>
<main id="main" class="main" role="main">
  <div class="client -work3">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Client</h2>
        <span class="section-title-child">クライアント</span>
      </div>
      <div class="client_detail">
        <img src="<%= conf.assets.commonImage %>/misawa_logo.jpg" alt="Misawa" />
        <div class="client_detail--text">
          <h3>株式会社ミサワ様</h3>
          <span>インテリア・雑貨</span>
          <div class="client_detail--description">
            <div class="client_detail--descriptionText">
              <p>
                “unico”とは、イタリア語で「たったひとつの」「大切な」などの意味を持つ言葉。<br>「自分らしくいられる心地良い」空間づくりをコンセプトに、オリジナルの家具やラグ、カーテン、ファブリック、国内外のセレクト雑貨を幅広くラインアップするライフスタイルショップです。
              </p>
              <a href="https://www.unico-fan.co.jp/shop/default.aspx" target="_blank">https://www.unico-fan.co.jp/shop/default.aspx</a>
            </div>
            <img src="<%= conf.assets.image %>/client_logo.png" alt="unico" />
          </div>
        </div>
      </div>
      <h4 class="pagetitle">Work 03</h4>
    </div>
  </div>

  <div class="system">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">System</h2>
        <span class="section-title-child">対応システム</span>
      </div>
      <div class="system_detail">
        <div class="system_detail--item supported">
          <h3>対応システム</h3>
          <ul>
            <li>商品情報管理システム</li>
            <li>品質管理システム</li>
            <li>各種帳票の自動化</li>
          </ul>
        </div>
        <div class="system_detail--item collaboration">
          <h3>外部連携</h3>
          <ul>
            <li>基幹システム</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="problem">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Problem</h2>
        <span class="section-title-child">クライアントの課題</span>
      </div>
    </div>
    <div class="problem_detail">
      <div class="layout">
        <div class="problem_detail--item">
          <p>
            基幹システムが自社の運用に合っていないが、改修費用が高く、機能追加すると固定費も上がってしまう。
          </p>
          <div class="number">01</div>
        </div>
        <div class="problem_detail--item">
          <p>
            複数の担当者が複数のExcelで商品情報の入力をしているため、運用フローが煩雑になった。
          </p>
          <div class="number">02</div>
        </div>
        <div class="problem_detail--item">
          <p>
            資料を作成する際、複数のExcelから必要な情報を集めて転記をすることに莫大な時間がかかる。
          </p>
          <div class="number">03</div>
        </div>
        <div class="problem_detail--item">
          <p>
            更新する度に申請者・承認者間で発生する口頭指示・メール・グループウェアなどの通知業務に時間がかかる。
          </p>
          <div class="number">04</div>
        </div>
      </div>
    </div>
  </div>

  <div class="solution">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Solution</h2>
        <span class="section-title-child">freeandopenのソリューション</span>
      </div>
    </div>
    <div class="solution_detail">
      <div class="layout">
        <div class="before">
          <h3>Before</h3>
          <div class="solution_image">
            <a href="<%= conf.assets.image %>/interior_before_img_pc.png" target="_blank" class="-hidden-sp hover"><img src="<%= conf.assets.image %>/before_img_pc.png" alt="" /></a>
            <a href="<%= conf.assets.image %>/interior_before_img_sp.png" target="_blank" class="-hidden-pc"><img src="<%= conf.assets.image %>/before_img_sp.png" alt="" /></a>
            <div class="solution_lens">
              <img src="/work/common/image/zoom_btn.png" alt="">
              （拡大ボタン）
            </div>
          </div>
        </div>
        <div class="after">
          <h3>After</h3>
          <div class="solution_image">
            <a href="<%= conf.assets.image %>/interior_after_img_pc.png" target="_blank" class="-hidden-sp hover"><img src="<%= conf.assets.image %>/after_img_pc.png" alt="" /></a>
            <a href="<%= conf.assets.image %>/interior_after_img_sp.png" target="_blank" class="-hidden-pc"><img src="<%= conf.assets.image %>/after_img_sp.png" alt="" /></a>
            <div class="solution_lens">
              <img src="/work/common/image/zoom_btn.png" alt="">
              （拡大ボタン）
            </div>
          </div>
          <h4>現場スタッフとのコミュニケーションで運用に寄り添ったシステムを実現</h4>
          <p>
            現場スタッフを中心に、実際に画面を使用頂きながら開発を進めたため、社内の運用に寄り添ったシステムになりました。複数のExcelで管理していた商品情報がFileMakerのみで全て把握/一元管理できる状態になり、情報が集約されました。また、ボタン1つで新商品発売一覧や撮影注意点などの帳票を決まったレイアウトで出力することも可能になったり、商品情報の登録を各部署毎に入力STEPを分けることで、運用フローの改善も実現しました。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="voice">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Voice</h2>
        <span class="section-title-child">お客様の声</span>
      </div>
      <div class="voice_detail">
        <p>
          言われたまま作るのではなく、背景・目的・結果を踏まえてより良くするために一緒に考えてもらえるところが助かっています。社内でFileMakerに対する要望も増えてきており、今後も機能を拡充していく予定です。
        </p>
        <div class="voice_image">
          <div>
            <p>株式会社ミサワ<br>
              システム部マネージャ<span>　齊藤 健</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../components/common/pagetop/pagetop.ejs', { conf }) %>
  <%- include('../../components/work/contact/contact.ejs', { conf }) %>
</main>

<%- include('../../components/footer/footer.ejs', { conf }) %>
<%- include('../common/_foot.ejs', { conf }) %>
