<%
  const conf = {
    category: 'company',
    title : 'Company｜【Filemaker開発】株式会社Freeandopen',
    description : '株式会社Freeandopeの会社概要と、代表からメッセージとアドバイザーを紹介します。',
    style: 'company.css',
    script: 'company.js',
    assets: {
      commonImage: '/common/image',
      image: '/company/image'
    }
  };
%>
<%- include('../common/_head.ejs', { conf }) %>
<%- include('../../components/header/header.ejs', { conf }) %>
<main id="main" class="main" role="main">
  <section class="company">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Company</h2>
        <span class="section-title-child">会社概要</span>
      </div>
      <div class="company__info">
        <dl>
          <dt>会社名</dt>
          <dd>株式会社 Freeandopen（Freeandopen.inc.）</dd>
        </dl>
        <dl>
          <dt>設立</dt>
          <dd>2012年12月25日</dd>
        </dl>
        <dl>
          <dt>事業内容</dt>
          <dd>FileMakerをメインとした業務改善システム開発、及びシステム運用／保守や業務改善に関するアドバイスなどシステムインテグレーションサービス。</dd>
        </dl>
        <dl>
          <dt>所在地</dt>
          <dd>
            渋谷office<br>
            〒150-6139<br>
            東京都渋谷区渋谷2-24-12 39F　WeWork 渋谷スクランブルスクエア(38-105)</dd>
        </dl>
        <dl>
          <dt>代表取締役</dt>
          <dd>兼子 佳也</dd>
        </dl>
      </div>
    </div>
  </section>

  <section class="message">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Message</h2>
        <span class="section-title-child">社長メッセージ</span>
      </div>
    </div>
    <div class="message__content">
      <div class="layout">
        <div class="message__card">
          <div class="message-head">
            <div class="messag-head__image">
              <%- include('../../components/image/Picture.ejs', { image: {
                  pc: `${conf.assets.image}/message_img_pc.jpg`,
                  sp: `${conf.assets.image}/message_img_sp.jpg`,
              } }) %>
            </div>
            <div class="messag-head__text">
              <h3>業務改善における<br>最高の伴奏者を目指して、、。</h3>
              <p>近年、あらゆる組織がデジタル化を進めている中、企業を取り巻く環境はかつてないほど急速に変わりつつあり、今後の予測が困難な為、これまでとは異なるペースで物事を進める必要があります。<br>弊社は、アジャイルソフトウェア開発宣言通り、「対話やコミュニケーションの重視」「変化を受け入れ柔軟な対応」「顧客との協調」を重要視し、従来のドキュメントやスケジュールありきのシステム開発ではなく、お客様のビジネス成長と変化に合わせた、本当の意味で求められるシステム開発を行い、ビジネス拡大の一翼を担えればと思っております。</p>
            </div>
          </div>
          <div class="message-profile">
            <div class="message-profile__name">
              代表取締役
              <%- include('../../components/image/Image.ejs', { image: {
                src: `${conf.assets.image}/name.png`,
                alt: '兼子佳也'
            } }) %>
            </div>
            <div class="message-profile__text">2000年からEC（楽天）で家具・インテリアの通販を開始し、早々に月商200万を達成。2003年にオークションサイトを立ち上げ年商5億円を達成。この時、バックヤード業務の管理・効率化のためにFileMakerを導入し自らカスタマイズ開発を行う。以後、自社だけでなく業界関係者のバックヤードシステムについても受託開発を行う。<br>2012年には本格的にシステム提供会社としての事業を開始し株式会社freeandopenを設立。以後、社長兼PM兼テックリーダーとして数々の開発プロジェクトに参画。開発のベースはFileMakerを中心に展開しており、開発歴は20年となる。</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../../components/company/adviser/adviser.ejs', { conf }) %>

  <%- include('../../components/common/pagetop/pagetop.ejs', { conf }) %>
  <%- include('../../components/work/contact/contact.ejs', { conf }) %>
</main>

<%- include('../../components/footer/footer.ejs', { conf }) %>
<%- include('../common/_foot.ejs', { conf }) %>
