<%
  const conf = {
    category: 'work',
    title : 'Our Work 01｜【Filemaker開発】株式会社Freeandopen',
    description : '株式会社Freeandopenが開発に携わった事例を紹介します。',
    style: 'work.css',
    script: 'work.js',
    assets: {
      commonImage: '/common/image',
      image: '/work/work1/image'
    }
  };
%>
<%- include('../common/_head.ejs', { conf }) %>
<%- include('../../components/header/header.ejs', { conf }) %>
<main id="main" class="main" role="main">
  <div class="client">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Client</h2>
        <span class="section-title-child">クライアント</span>
      </div>
      <div class="client_detail">
        <img src="<%= conf.assets.commonImage %>/graniph_logo.jpg" alt="" />
        <div class="client_detail--text">
          <h3>株式会社グラニフ様</h3>
          <span>アパレル・雑貨</span>
          <p>
            グラフィックで彩られたアパレルや雑貨をリーズナブルな価格で展開。<br>
            毎週新作がリリースされるアイテムはオリジナルデザインから、アーティスト作品・絵本・音楽・アニメなどの多様なバリエーション。<br>
            幅広い年代にお楽しみいただける、さまざまなグラフィックアイテムをとりそろえている。
          </p>
          <a href="https://graniph.co.jp/" target="_blank">https://graniph.co.jp/</a>
        </div>
      </div>
      <h4 class="pagetitle">Work 01</h4>
    </div>
  </div>

  <div class="system">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">System</h2>
        <span class="section-title-child">対応システム</span>
      </div>
      <div class="system_detail">
        <div class="system_detail--item supported">
          <h3>対応システム</h3>
          <ul>
            <li>生産管理システム</li>
            <li>商品企画管理システム</li>
            <li>EC情報管理システム</li>
            <li>経理システム</li>
            <li>コラボレーション管理システム</li>
          </ul>
        </div>
        <div class="system_detail--item collaboration">
          <h3>外部連携</h3>
          <ul>
            <li>基幹システム</li>
            <li>WMS</li>
            <li>MAツール</li>
            <li>分析ツール</li>
            <li>外部ECモール</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="problem">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Problem</h2>
        <span class="section-title-child">クライアントの課題</span>
      </div>
    </div>
    <div class="problem_detail">
      <div class="layout">
        <div class="problem_detail--item">
          <p>
            企画書、発注書等の情報ファイル（Excel,Word,PDF等）が社内に点在しており、どこに何があるか、何が最新か不明だった。
          </p>
          <div class="number">01</div>
        </div>
        <div class="problem_detail--item">
          <p>
            複数システムで同じ情報の入力、情報を更新/修正した際のメール送信や、手書きでの資料作成などの手間が多く、入力ミスも多発していた。
          </p>
          <div class="number">02</div>
        </div>
        <div class="problem_detail--item">
          <p>
            生産の進捗管理など、Googleスプレッドシートでの管理に限界を感じていた。
          </p>
          <div class="number">03</div>
        </div>
      </div>
    </div>
  </div>

  <div class="solution">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Solution</h2>
        <span class="section-title-child">freeandopenのソリューション</span>
      </div>
    </div>
    <div class="solution_detail">
      <div class="layout">
        <div class="before">
          <h3>Before</h3>
          <div class="solution_image">
            <a href="<%= conf.assets.image %>/graniph_before_img_pc.png" target="_blank" class="-hidden-sp hover"><img src="<%= conf.assets.image %>/before_img_pc.png" alt="" /></a>
            <a href="<%= conf.assets.image %>/graniph_before_img_sp.png" target="_blank" class="-hidden-pc"><img src="<%= conf.assets.image %>/before_img_sp.png" alt="" /></a>
            <div class="solution_lens">
              <img src="/work/common/image/zoom_btn.png" alt="">
              （拡大ボタン）
            </div>
          </div>
        </div>
        <div class="after">
          <h3>After</h3>
          <div class="solution_image">
            <a href="<%= conf.assets.image %>/graniph_after_img_pc.png" target="_blank" class="-hidden-sp hover"><img src="<%= conf.assets.image %>/after_img_pc.png" alt="" /></a>
            <a href="<%= conf.assets.image %>/graniph_after_img_sp.png" target="_blank" class="-hidden-pc"><img src="<%= conf.assets.image %>/after_img_sp.png" alt="" /></a>
            <div class="solution_lens">
              <img src="/work/common/image/zoom_btn.png" alt="">
              （拡大ボタン）
            </div>
          </div>
          <h4>情報共有がスムーズで正確になり、業務時間の大幅削減を実現。</h4>
          <p>
            大量の情報を一元管理でき、自由に見やすいレイアウトの作成が行える、社内情報の全てを網羅したシステムを開発しました。紙とExcelを扱うことがなくなり、入力ミスや同じ情報の入力などがほぼゼロになりました。外部データとの連携も容易です。また、情報を更新/修正した際には内容が自動でメール配信され、大幅な時間短縮を実現しました。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="voice">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Voice</h2>
        <span class="section-title-child">お客様の声</span>
      </div>
      <div class="voice_detail">
        <p>
          以前は終電で帰る日や1日5時間ほど残業が発生していた管理作業が、今ではほぼ業務時間内で済んでいます。それによって、「どうすれば売上が伸びるか」などについて考える時間を確保することができました。開発の際は問題点をお話しするだけで、改善の提案を次々にいただきました。<br>
          システムに詳しくない現場の担当者も本当に助かりました。
        </p>
      </div>
    </div>
  </div>

  <%- include('../../components/common/pagetop/pagetop.ejs', { conf }) %>
  <%- include('../../components/work/contact/contact.ejs', { conf }) %>
</main>

<%- include('../../components/footer/footer.ejs', { conf }) %>
<%- include('../common/_foot.ejs', { conf }) %>
