<%
  const conf = {
    category: 'work',
    title : 'Our Work 04｜【Filemaker開発】株式会社Freeandopen',
    description : '株式会社Freeandopenが開発に携わった事例を紹介します。',
    style: 'work.css',
    script: 'work.js',
    assets: {
      commonImage: '/common/image',
      image: '/work/work4/image'
    }
  };
%>
<%- include('../common/_head.ejs', { conf }) %>
<%- include('../../components/header/header.ejs', { conf }) %>
<main id="main" class="main" role="main">
  <div class="client">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Client</h2>
        <span class="section-title-child">クライアント</span>
      </div>
      <div class="client_detail">
        <img src="<%= conf.assets.commonImage %>/asterisk_logo.jpg" alt="" />
        <div class="client_detail--text">
          <h3>株式会社アスタリスク様</h3>
          <span>人材派遣</span>
          <p>
            ものづくりが盛んな愛知県の豊橋市と豊田市の三河エリアを中心に、製造業・工場案件に強みを持った地域最大級の人材派遣会社。
          </p>
          <a href="https://www.kabu-asterisk.net/" target="_blank">https://www.kabu-asterisk.net/</a>
        </div>
      </div>
      <h4 class="pagetitle">Work 04</h4>
    </div>
  </div>

  <div class="system">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">System</h2>
        <span class="section-title-child">対応システム</span>
      </div>
      <div class="system_detail">
        <div class="system_detail--item supported">
          <h3>対応システム</h3>
          <ul>
            <li>派遣者情報管理システム</li>
            <li>採用情報管理システム</li>
            <li>取引先／案件管理システム</li>
            <li>支給／寮管理システム</li>
            <li>給与管理システム</li>
          </ul>
        </div>
        <div class="system_detail--item collaboration">
          <h3>外部連携</h3>
          <ul>
            <li>給与明細WEBシステム</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="problem">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Problem</h2>
        <span class="section-title-child">クライアントの課題</span>
      </div>
    </div>
    <div class="problem_detail">
      <div class="layout">
        <div class="problem_detail--item">
          <p>
            システムを導入したが、自社の運用に合わなかった。
          </p>
          <div class="number">01</div>
        </div>
        <div class="problem_detail--item">
          <p>
            Excelで派遣社員と案件の引き当てを行っていたため、膨大な時間がかかっていた。<br>
            また、派遣社員の増加に伴い情報量が増え、運用に限界を感じていた。
          </p>
          <div class="number">02</div>
        </div>
        <div class="problem_detail--item">
          <p>
            複数のExcelや紙の書類で情報管理をしていたため、どこに何の情報があるのか把握しきれていなかったり、同じ情報の入力や入力ミスが相次いでいた。
          </p>
          <div class="number">03</div>
        </div>
      </div>
    </div>
  </div>

  <div class="solution">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Solution</h2>
        <span class="section-title-child">freeandopenのソリューション</span>
      </div>
    </div>
    <div class="solution_detail">
      <div class="layout">
        <div class="before">
          <h3>Before</h3>
          <img class="-hidden-sp" src="<%= conf.assets.image %>/before_img_pc.png" alt="" />
          <img class="-hidden-pc" src="<%= conf.assets.image %>/before_img_sp.png" alt="" />
        </div>
        <div class="after">
          <h3>After</h3>
          <img class="-hidden-sp" src="<%= conf.assets.image %>/after_img_pc.png" alt="" />
          <img class="-hidden-pc" src="<%= conf.assets.image %>/after_img_sp.png" alt="" />
          <h4>情報を網羅したシステム開発で、脱Excel＆ペーパーレスを実現。</h4>
          <p>
            全ての情報を網羅したシステムを開発したことで、情報入力の二度手間や誤入力が減少し、派遣社員や求人案件が増えても、スムーズな情報共有ができるようになりました。また、給与明細のWEBシステムもFreeandopenが開発し、印刷と封入作業がなくなったことで、業務が円滑に進み業務効率化につながりました。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="voice">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Voice</h2>
        <span class="section-title-child">お客様の声</span>
      </div>
      <div class="voice_detail">
        <p>
          人材情報管理に関して、他社システムの導入を行いましたが、自社の運用に合わず断念。<br>
          その後はExcelで管理していましたが、Freeandopenさんと一緒にシステム開発を行ったことで、自社の運用に沿ったシステムが完成し、劇的に作業の手間が減りました。セキュリティの不安も解消し、登録人数が倍になっても対応人数を増やさずに済みました。<br><br>
          是非、他の企業様にもオススメしたいです。
        </p>
      </div>
    </div>
  </div>

  <%- include('../../components/common/pagetop/pagetop.ejs', { conf }) %>
  <%- include('../../components/work/contact/contact.ejs', { conf }) %>
</main>

<%- include('../../components/footer/footer.ejs', { conf }) %>
<%- include('../common/_foot.ejs', { conf }) %>
