<%
    const advisers = [
        {
            image: {
                pc: 'adviser_01_pc.jpg',
                sp: 'adviser_01_sp.jpg',
            },
            post: 'Adviser_01',
            name: '服部 真明',
            text: '2000年 アンジェ web shop（ECサイト） の立ち上げに参加。2名での運営からスタートし年商20億円まで成長。バックヤード業務の効率化のため、2001年にFileMakerを導入し、自ら、受注・発注・在庫管理などの基幹システムや、人事・会計などの管理システムをすべてFileMakerで開発・カスタマイズを行う。2005年に同事業をMBOしセレクチュアー株式会社を設立。同社専務取締役に就任。9年連続楽天市場インテリア部門第1位、日本オンラインショッピング最優秀大規模サイト賞、他多数受賞。2014年に同社を譲渡。株式会社Freeandopenへ参加。自身の会社経営のノウハウと、会社運営のほぼすべての管理をFileMakerで開発・運用をしてきた経験を活かし業種を問わず多数のクライアントのシステム開発に携わる。',
        },
        {
            image: {
                pc: 'adviser_02_pc.jpg',
                sp: 'adviser_02_sp.jpg',
            },
            post: 'Adviser_02',
            name: '布田 茂幸',
            text: '明治大学卒。2000年にアクセンチュアのスピンアウト組で構成されたITコンサルティング企業エンプレックス株式会社（現SCSK株式会社）に入社。2001年より自社開発CRM・ECパッケージソフトウェア「eMplex」の事業立ち上げに伴いマーケティング、広報、営業を担当。後に営業部長として業績拡大に貢献。その後、ECパッケージソフト「ecbeing」提供の株式会社ecbeingでは執行役員としてプロダクト事業戦略、営業、マーケティングを管轄。その後、制作管理ソフト「AdFlow」提供の株式会社クリエイターズマッチでは取締役としてプロダクト事業の統括する中で営業、マーケティングを主に担当。2021年2月に起業し株式会社Vispaを設立。<br>これまでに1000社以上に対してECパッケージをはじめとするITプロダクト・SaaSを提供・運用定着支援の実績がある。',
        },
        {
            image: {
                pc: 'adviser_03_pc.jpg',
                sp: 'adviser_03_sp.jpg',
            },
            post: 'Adviser_03',
            name: '高野 一朗',
            text: '株式会社ベイクルーズにて17年間、店舗スタッフから始まりマーチャンダイザーやEC事業責任者を経て、全社横断CRM事業の部署立上げと運営を7年ほど取組む。現在はファッションブランドやアパレル企業に向けて店舗スタッフとCRMの相乗効果を高める視点からプロデュースやコンサルティングを行ない、ソリューションコーディネーターとしても活動中。業種業態の枠を飛び越えた、あらゆる機会を創るopportunity creator。 また、2020年秋よりファッションに関わるクリエイターをマネジメントするエージェンシーを立上げ運営している。',
        },
    ]
%>
<section class="adviser">
    <div class="adviser__head">
      <div class="layout">
        <div class="show-animation" data-animation="title">
          <h2 class="section-title-sub">Adviser</h2>
          <span class="section-title-child">アドバイザー紹介</span>
        </div>
      </div>
    </div>
    <div class="adviser__content">
      <div class="layout">
        <% advisers.forEach(function (value, key) { %>
            <div class="adviser-card" data-anchor="<%- value.post %>">
                <div class="adviser-card__image">
                    <%- include('../../image/Picture.ejs', { image: {
                        pc: `${conf.assets.image}/${value.image.pc}`,
                        sp: `${conf.assets.image}/${value.image.sp}`,
                    } }) %>
                </div>
                <div class="adviser-card__info">
                    <div class="adviser-card__post"><%- value.post %></div>
                    <div class="adviser-card__name"><%- value.name %></div>
                    <div class="adviser-card__text"><%- value.text %></div>
                </div>
            </div>
        <% }); %>
      </div>
    </div>
  </section>