<%
  const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js',
    assets: {
      image: '/top/image',
      commonImage: '/common/image',
    }
  };
%>
<%- include('./common/_head.ejs', { conf }) %> <%- include('../components/header/header.ejs', { conf }) %>
<main id="main" class="main" role="main">
  <%- include('../components/top/mv/mv.ejs', { conf }) %>
  <div class="about">
    <div class="layout">
      <div class="about_head">
        <div class="about_head--inner">
          <div class="about_head--inner--text">
            <div class="show-animation" data-animation="title">
              <h2 class="section-title">About Us</h2>
              <span class="section-title-child">Freeandopenについて</span>
            </div>
          </div>
          <div class="about_head--inner--img">
            <img src="<%= conf.assets.image %>/mark.png" alt="" />
          </div>
        </div>
        <p>
          お客様に喜んでいただけることを最大の使命とし、FileMakerとアジャイル開発を用いて、<br
            class="pc-br"
          />お客様の業務や要望に合うエンドユーザーファーストなシステムをご提供いたします。
        </p>
      </div>

      <div class="about_wrapper">
        <div class="about_wrapper--img">
          <img src="<%= conf.assets.image %>/claris-partner.png" alt="" />
        </div>

        <div class="about_wrapper--text">
          <h3>
            Freeandopenは<br />
            FileMaker Business Alliance<br />
            認定企業です。
          </h3>

          <p>FileMaker Business Allianceとは<br class="sp-br" />Claris社（旧FileMaker社）から</p>
          <p>FileMakerを利用した<span>開発における高い技術力</span></p>
          <p>FileMakerを利用した<span>システム開発の実績</span>を</p>
          <p>評価されている企業にのみ与えられる<br class="sp-br" />ライセンスです。</p>
        </div>
      </div>
    </div>
  </div>
  <%- include('../components/top/aboutDetail/aboutDetail.ejs', { conf }) %>
  <div class="filemaker_development">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title">Filemaker Development</h2>
        <span class="section-title-child">ファイルメーカー開発</span>
      </div>
      <p>
        FileMakerは、米Appleの100%子会社・Claris社が開発しており、<br class="pc-br" />
        常にバージョンアップが続けられている、日本国内で20万以上の組織で利用されるほど<br class="pc-br" />
        人気の高いクロスプラットフォームのデータベースソフトウェアです。
      </p>
      <div class="filemaker_development--wrapper">
        <div class="filemaker_development--wrapper--inner show-animation" data-animation="filemaker">
          <div class="filemaker_development--wrapper--inner--item">
            <div class="img-wrapper">
              <img src="<%= conf.assets.image %>/filemaker_development_img1.png" alt="" />
            </div>
            <div class="number">01</div>
            <h3>小規模～中規模の<br class="pc-br" />システムに最適</h3>
            <p>
              大規模システムの開発も可能ですが、費用が高く、改修スピードが遅い基幹システムのサブシステム的な立ち位置にも最適です。
            </p>
          </div>
          <div class="filemaker_development--wrapper--inner--item">
            <div class="img-wrapper">
              <img src="<%= conf.assets.image %>/filemaker_development_img2.png" alt="" />
            </div>
            <div class="number">02</div>
            <h3>他システムとの<br class="pc-br" />スムーズな連携</h3>
            <p>
              FTPやAPIを使用することで、他システムやWEBアプリケーションとのデータ連携をスムーズに行うことができます。
            </p>
          </div>
          <div class="filemaker_development--wrapper--inner--item">
            <div class="img-wrapper">
              <img src="<%= conf.assets.image %>/filemaker_development_img3.png" alt="" />
            </div>
            <div class="number">03</div>
            <h3>企業の成長とともに<br class="pc-br" />進化するシステム</h3>
            <p>
              「データ」「データベース構造」「プログラム」が一体化していることにより簡単に機能拡張ができ、「小さく始めて大きく育てる」システム開発が可能です。
            </p>
          </div>
          <div class="filemaker_development--wrapper--inner--item">
            <div class="img-wrapper">
              <img src="<%= conf.assets.image %>/filemaker_development_img4.png" alt="" />
            </div>
            <div class="number">04</div>
            <h3>優れたデザイン性と操作性</h3>
            <p>
              他のデータベースシステムよりも、優れたデザイン性・操作性のインターフェイスを手軽に作ることができます。
            </p>
          </div>
          <div class="filemaker_development--wrapper--inner--item">
            <div class="img-wrapper">
              <img src="<%= conf.assets.image %>/filemaker_development_img5.png" alt="" />
            </div>
            <div class="number">05</div>
            <h3>スピーディなシステム構築</h3>
            <p>
              ローコード開発プラットフォームの為、他システムに比べて短納期で構築することができます。
            </p>
          </div>
          <div class="filemaker_development--wrapper--inner--item">
            <div class="img-wrapper">
              <img src="<%= conf.assets.image %>/filemaker_development_img6.png" alt="" />
            </div>
            <div class="number">06</div>
            <h3>OS依存がなくiOSとの<br class="pc-br" />親和性も高い</h3>
            <p>
              Windows や Mac
              などのOSに依存せずにシステムが稼働します。また、iOSとの相性も良く、モバイル端末を使用したシステム構築も可能です。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="agile_development">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title">Agile Development</h2>
        <span class="section-title-child">アジャイル開発</span>
      </div>
      <p>
        システム開発において、最初から要件定義や開発内容を明確にすることは難しく、<br class="pc-br" />
        機能不足や使いづらさが完成後に浮き彫りになり、システム自体が使われなくなることは少なくありません。
      </p>
      <p>
        そこで弊社は、取引先企業様の成長と共に柔軟に変化し対応する「アジャイル開発」を採用しています。<br
          class="pc-br"
        />
        実際にシステムを使用するご担当者様の意見を取り入れ、スピーディに改修や機能実装を行い、<br class="pc-br" />
        使い勝手の良いシステム構築ができる開発手法です。
      </p>
    </div>
  </div>
  <%- include('../components/top/agileDevelopmentDetail/agileDevelopmentDetail.ejs', { conf }) %>
  <%- include('../components/top/ourWork/ourWork.ejs', { conf }) %>

  <div class="company">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title">Company</h2>
        <span class="section-title-child">会社概要</span>
      </div>
    </div>

    <div class="company_detail">
      <div class="layout">
        <img class="company_detail_logo" src="<%= conf.assets.commonImage %>/logo-white.png" alt="" />
        <div class="address">
          <p>〒150-6139</p>
          <p>東京都渋谷区渋谷2-24-12 39F</p>
          <p>WeWork 渋谷スクランブルスクエア(38-105)</p>
        </div>

        <div class="president">
          <span>代表取締役社長</span>
          <p>兼子 佳也</p>
        </div>
      </div>
    </div>
    <script
      src="//maps.googleapis.com/maps/api/js?key=AIzaSyABHu-tc2_2rbh4rIFc9eWP0Dzdjm6vyjI&callback=initMap"
      async
    ></script>
    <script>
      function initMap() {
        var mapPosition = { lat: 35.65853708026859, lng: 139.70220304684628 };
        var mapArea = document.getElementById('maps');
        var mapOptions = {
          center: mapPosition,
          zoom: 16,
          styles: [
            {
              stylers: [
                {
                  saturation: -100,
                },
              ],
            },
          ],
        };

        var map = new google.maps.Map(mapArea, mapOptions);

        var markerOptions = {
          map: map,
          position: mapPosition,
          icon: '<%= conf.assets.image %>/map-pin.png',
        };

        var marker = new google.maps.Marker(markerOptions);
      }
    </script>
    <div id="maps"></div>
  </div>

  <div class="contact">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title">Contact Us</h2>
        <span class="section-title-child">お問い合わせ</span>
      </div>

      <div class="contact_wrapper">
        <div class="contact_wrapper--text">
          <p>
            開発に関するご相談など弊社への<br class="pc-br" />お問い合わせはこちらのフォームから<br
              class="pc-br"
            />お願いいたします。
          </p>
          <span>＊は必須です</span>
        </div>

        <div class="contact_wrapper--form">
          <form action="" method="">
            <div class="form-item">
              <label for="name">Name<span>*</span></label>
              <input id="name" type="text" name="name" />
            </div>
            <div class="form-item">
              <label for="tel">Tel<span>*</span></label>
              <input id="tel" type="text" name="tel" />
            </div>
            <div class="form-item">
              <label for="email">E-mail<span>*</span></label>
              <input id="email" type="text" name="email" />
            </div>
            <div class="form-item">
              <label for="Message">Message</label>
              <textarea name="Message" id="Message"></textarea>
            </div>
            <div class="submit_wrapper">
              <input type="submit" value="Submit" class="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('../components/footer/footer.ejs', { conf }) %> <%- include('./common/_foot.ejs', { conf }) %>
