<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js',
    assets: {
        image: '/top/image'
    }
};
%>

<%- include('./common/_head.ejs', { conf }) %>
<%- include('../components/header/header.ejs', { conf }) %>

<main id="main" class="main" role="main">
    <%- include('../components/top/mv/mv.ejs', { conf }) %>
</main>

<%- include('../components/footer/footer.ejs', { conf }) %>
<%- include('./common/_foot.ejs', { conf }) %>
