<%
  const menu = [
    { id: 'about', name: 'About Us' },
    { id: 'filemaker_development', name: 'Filemaker Development' },
    { id: 'agile_development', name: 'Agile Development' },
    { id: 'our_work', name: 'Our Work' },
    { id: 'company', name: 'Company' },
    { id: 'contact', name: 'Contact Us', class: 'btn', classSp: 'contact-btn' },
    { id: 'recruit', name: 'Recruit', class: '-recruit', classSp: 'recruit-btn' },
  ]
%>
<header id="header" class="header" role="banner">
    <div class="headerFixed">
      <div class="layout">
        <div class="nav">
        <a href="/"><img src="<%= conf.assets.commonImage %>/logo.png" alt=""/></a>
        <% if (conf.category !== "recruit") { %>
        <ul class="nav_list">
          <% menu.forEach(function (value, key) { %>
            <li class="menu-<%- value.id %>">
              <% if (conf.category === 'top') { %>
                <% if (value.id === 'recruit') { %>
                  <a href="/recruit" <% if (value.class) { %>class="<%= value.class %>"<% } %>><%= value.name %></a>
                <% } else { %>
                  <a href="#" class="-anchor <% if (value.class) { %><%= value.class %><% } %>" data-anchor="<%= value.id %>"><%= value.name %></a>
                <% } %>
              <% } else { %>
                <a href="/?anchor=<%= value.id %>" <% if (value.class) { %>class="<%= value.class %>"<% } %>><%= value.name %></a>
              <% } %>
            </li>
          <% }); %>
        </ul>

        <div class="drawer -hidden-pc">
          <input type="checkbox" id="drawer-check" class="drawer-hidden" />

          <label for="drawer-check" class="drawer-open"><span></span></label>

          <nav class="drawer-content">
            <ul class="drawer-list">
              <% menu.forEach(function (value, key) { %>
                  <% if (conf.category === 'top') { %>
                    <% if (value.id === 'recruit') { %>
                      <li class="drawer-item<% if (value.classSp) { %> <%= value.classSp %><% } %>">
                        <a href="/recruit"><%= value.name %></a>
                      </li>
                    <% } else { %>
                      <li class="drawer-item<% if (value.classSp) { %> <%= value.classSp %><% } %>">
                        <a href="#" class="-anchor" data-anchor="<%= value.id %>"><%= value.name %></a>
                      </li>
                    <% } %>
                  <% } else { %>
                    <li class="drawer-item<% if (value.classSp) { %> <%= value.classSp %><% } %>">
                      <a href="/?anchor=<%= value.id %>"><%= value.name %></a>
                    </li>
                  <% } %>
              <% }); %>
            </ul>
          </nav>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</header>
