<%
  const conf = {
    category: 'work',
    title : 'Our Work 05｜【Filemaker開発】株式会社Freeandopen',
    description : '株式会社Freeandopenが開発に携わった事例を紹介します。',
    style: 'work.css',
    script: 'work.js',
    assets: {
      commonImage: '/common/image',
      image: '/work/work5/image'
    }
  };
%>
<%- include('../common/_head.ejs', { conf }) %>
<%- include('../../components/header/header.ejs', { conf }) %>
<main id="main" class="main" role="main">
  <div class="client">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Client</h2>
        <span class="section-title-child">クライアント</span>
      </div>
      <div class="client_detail">
        <img src="<%= conf.assets.commonImage %>/vancraft_logo.jpg" alt="" />
        <div class="client_detail--text">
          <h3>株式会社ヴァンクラフト様</h3>
          <span>広告</span>
          <p>
            企業や商品・ブランドのコンサルティング、マーケティング、プロモーションの戦略立案、実施を行う。また自社サービスの開発・運営なども行っている。
          </p>
          <a href="https://www.vancraft.co.jp/" target="_blank">https://www.vancraft.co.jp/</a>
        </div>
      </div>
      <h4 class="pagetitle">Work 05</h4>
    </div>
  </div>

  <div class="system -work5">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">System</h2>
        <span class="section-title-child">対応システム</span>
      </div>
      <div class="system_detail">
        <div class="system_detail--item supported">
          <h3>対応システム</h3>
          <div class="system_detail--itemParent">
            <ul>
              <li>案件管理システム</li>
              <li>見積書作成システム</li>
              <li>請求書作成システム</li>
            </ul>
            <ul>
              <li>売上集計システム</li>
              <li>原価計算システム</li>
              <li>小口精算システム</li>
            </ul>
            <ul>
              <li>小口精算承認機能</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="problem">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Problem</h2>
        <span class="section-title-child">クライアントの課題</span>
      </div>
    </div>
    <div class="problem_detail">
      <div class="layout">
        <div class="problem_detail--item">
          <p>
            見積書が案件ごとに個別のExcelファイルに分かれているため、売上の集計や、顧客ごと仕入先ごとの売上原価の集計などが困難だった。
          </p>
          <div class="number">01</div>
        </div>
        <div class="problem_detail--item">
          <p>
            仕入原価や経費もExcelの見積書に入力していたため、原価の計算が煩雑だった。
          </p>
          <div class="number">02</div>
        </div>
        <div class="problem_detail--item">
          <p>
            領収書などの経費については、見積書Excelへの入力と小口精算の入力が2重で発生していた。
          </p>
          <div class="number">03</div>
        </div>
      </div>
    </div>
  </div>

  <div class="solution">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Solution</h2>
        <span class="section-title-child">freeandopenのソリューション</span>
      </div>
    </div>
    <div class="solution_detail">
      <div class="layout">
        <div class="before">
          <h3>Before</h3>
          <a href="<%= conf.assets.image %>/before_img_pc.png" target="_blank" class="-hidden-sp"><img src="<%= conf.assets.image %>/before_img_pc.png" alt="" /></a>
          <a href="<%= conf.assets.image %>/before_img_sp.png" target="_blank" class="-hidden-pc"><img src="<%= conf.assets.image %>/before_img_sp.png" alt="" /></a>
        </div>
        <div class="after">
          <h3>After</h3>
          <a href="<%= conf.assets.image %>/after_img_pc.png" target="_blank" class="-hidden-sp"><img src="<%= conf.assets.image %>/after_img_pc.png" alt="" /></a>
          <a href="<%= conf.assets.image %>/after_img_sp.png" target="_blank" class="-hidden-pc"><img src="<%= conf.assets.image %>/after_img_sp.png" alt="" /></a>
          <h4>リモート体制にも適応した、柔軟なシステムを開発。</h4>
          <p>
            あらゆる情報を網羅したシステム開発を行い、脱Excel＆ペーパーレスを実現しました。また、クラウドにより昨今のリモート体制にも適応し、いつでもどこからでも全スタッフが情報を閲覧・更新・共有出来るようになりました。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="voice">
    <div class="layout">
      <div class="show-animation" data-animation="title">
        <h2 class="section-title-sub">Voice</h2>
        <span class="section-title-child">お客様の声</span>
      </div>
      <div class="voice_detail">
        <p>
          freeandopenさんに依頼したことで大幅な業務改善が行えました。また運用面に関してもいつも親身に相談に乗っていただき、最適な状態でシステムを管理していただいており大変感謝しています。
        </p>
      </div>
    </div>
  </div>

  <%- include('../../components/common/pagetop/pagetop.ejs', { conf }) %>
  <%- include('../../components/work/contact/contact.ejs', { conf }) %>
</main>

<%- include('../../components/footer/footer.ejs', { conf }) %>
<%- include('../common/_foot.ejs', { conf }) %>
